* {
    background-color: lightcyan;
    font-family: 'Merriweather', serif;
}
h3 {
    font-size: 1.5em;
}

figure {
    border: thin silver solid;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    padding: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    column-gap: 50px;
    justify-content: space-evenly;
}

.grid-item {
    padding: 20px;
}

#filmography {
    font-size: 1.0em;
}

#title {
    text-align: center;
}

#img-caption {
    font-size: small;
}

#image{
    display: block;
    width: 100%;
    margin: auto;
    max-width: 100%;
}

#tribute-info {
    font-size: 1.0em;
    width: 100%;
}

#tribute-info p {
    text-align: justify;
}