* {
    box-sizing: border-box;
  }

figure {
    border: thin silver solid;
    width: 90%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    padding: 0.5em;
    float: right;
}

.box {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#title {
    text-align: center;
}

#img{
    width: 100%;
}

#tribute-info {
    width: 100%;
}